.navbar {
  box-shadow: $primary-shadow;
  z-index: 1;

  .page-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo {
    font-size: 36px;
    color: $primary-900;
    text-decoration: none;
  }

  &__send-mail {
    padding: 15px 22px;

    &:hover {
      .navbar__send-mail__link {
        color: $white;
      }
    }
  }

  &__send-mail__link {
    text-decoration: none;
    color: $primary-900;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;

    &:hover {
      color: $white;
    }
  }
}
