$primary-50: #ede7f6;
$primary-100: #d1c4e9;
$primary-200: #b39ddb;
$primary-300: #9575cd;
$primary-400: #7e57c2;
$primary-500: #673ab7;
$primary-600: #5e35b1;
$primary-700: #512da8;
$primary-800: #4527a0;
$primary-900: #311b92;

$secondary-50: #f8f8f8;
$secondary-100: #f1f1f1;
$secondary-200: #e6e6e6;
$secondary-400: #b2b2b2;
$secondary-500: #919191;
$secondary-600: #696969;
$secondary-700: #565656;
$secondary-800: #676781;
$secondary-900: #35364d;

$white: #ffffff;
