$primary-50: #dff4f1;
$primary-100: #b0e3dc;
$primary-200: #7cd1c5;
$primary-300: #41bead;
$primary-400: #00af9b;

$secondary-color: #ff9100;
$secondary-50: #fff8e1;
$secondary-100: #ffecb3;
$secondary-400: #ffcb29;
$secondary-500: #ffc20a;
$secondary-600: #ffb402;
$secondary-800: #ff9100;

$gray-50: #f8f8f8;
$gray-100: #f1f1f1;
$gray-200: #e6e6e6;
$gray-400: #b2b2b2;
$gray-500: #919191;
$gray-600: #696969;
$gray-700: #565656;
$gray-800: #676781;
$gray-dark: #35364d;

$blue-50: #e3f3fd;
$blue-100: #bce0fc;
$blue-200: #92cdfb;
$blue-300: #66b9f8;
$blue-400: #44a9f8;

$purple-400: #9a5dc6;

$red-500: #fc4c50;
