.index-main {
  display: grid;
  @include for-phone-only {
    grid-template-rows: min-content 650px 1550px;
  }

  @include for-tablet-portrait-up {
    grid-template-rows: min-content 650px 1550px;
  }

  @include for-tablet-landscape-up {
    grid-template-rows: min-content 0px 1900px;
  }

  @include for-desktop-up {
    grid-template-rows: 450px 0px 1000px;
  }

  &__about {
    display: flex;
    align-items: center;
    background-color: $primary-100;

    .page-content-wrapper {
      @include for-phone-only {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 70%;
        justify-content: center;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 35px;
      }

      @include for-tablet-portrait-up {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 60%;
        justify-content: center;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 35px;
      }

      @include for-tablet-landscape-up {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 70%;
        justify-content: center;
        margin-bottom: 50px;
      }

      @include for-desktop-up {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 45%;
        justify-content: center;
        margin-bottom: 0px;
      }
    }

    &__profile-picture--wrapper {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      animation: animated-border 1.5s infinite;

      @include for-tablet-landscape-up {
        justify-self: right;
        margin-right: 32px;
      }

      @include for-desktop-up {
        justify-self: right;
        margin-right: 32px;
      }
    }

    &__profile-picture {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }

    &__title,
    &__description {
      margin-bottom: 0;
      color: $white;
      text-shadow: $shadow-1dp;
    }

    &__description {
      line-height: 26px;
      font-weight: 400;

      @include for-phone-only {
        font-size: 20px;
      }

      @include for-tablet-portrait-up {
        font-size: 20px;
      }

      @include for-tablet-landscape-up {
        font-size: 20px;
      }

      @include for-desktop-up {
        font-size: 18px;
      }
    }
  }
}
