.index-main {
  display: grid;
  @include for-phone-only {
    grid-template-rows: min-content 650px 1550px;
  }

  @include for-tablet-portrait-up {
    grid-template-rows: min-content 650px 1550px;
  }

  @include for-tablet-landscape-up {
    grid-template-rows: min-content 0px 1650px;
  }

  @include for-desktop-up {
    grid-template-rows: 450px 0px 1000px;
  }

  &__about {
    display: flex;
    align-items: center;
    background-color: $primary-100;

    .page-content-wrapper {
      @include for-phone-only {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 70%;
        justify-content: center;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 35px;
      }

      @include for-tablet-portrait-up {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 60%;
        justify-content: center;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 35px;
      }

      @include for-tablet-landscape-up {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 70%;
        justify-content: center;
        margin-bottom: 50px;
      }

      @include for-desktop-up {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 45%;
        justify-content: center;
        margin-bottom: 0px;
      }
    }

    &__profile-picture--wrapper {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      animation: animated-border 1.5s infinite;

      @include for-tablet-landscape-up {
        justify-self: right;
        margin-right: 32px;
      }

      @include for-desktop-up {
        justify-self: right;
        margin-right: 32px;
      }
    }

    &__profile-picture {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }

    &__title,
    &__description {
      margin-bottom: 0;
      color: $white;
      text-shadow: $shadow-1dp;
    }

    &__description {
      line-height: 26px;
      font-weight: 400;

      @include for-phone-only {
        font-size: 20px;
      }

      @include for-tablet-portrait-up {
        font-size: 20px;
      }

      @include for-tablet-landscape-up {
        font-size: 20px;
      }

      @include for-desktop-up {
        font-size: 18px;
      }
    }
  }

  &__projects {
    @include for-phone-only {
      margin-top: 0px;
      margin-bottom: 35px;
    }

    @include for-tablet-portrait-up {
      margin-top: 0px;
      margin-bottom: 35px;
    }

    @include for-tablet-landscape-up {
      margin-top: 90px;
      margin-bottom: 0px;
    }

    @include for-desktop-up {
      margin-top: 60px;
    }

    .page-content-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    &__title {
      color: $primary-800;
      margin: 0 auto 45px auto;
    }

    &__current--wrapper {
      display: grid;

      @include for-phone-only {
        grid-template-rows: 210px 210px;
        grid-row-gap: 25px;
        height: min-content;
        width: fit-content;
        justify-items: center;
      }

      @include for-tablet-portrait-up {
        grid-template-rows: 210px 210px;
        grid-row-gap: 25px;
        height: min-content;
        width: fit-content;
        justify-items: center;
      }

      @include for-tablet-landscape-up {
        grid-template-rows: 210px 210px;
        grid-row-gap: 25px;
        height: min-content;
        width: fit-content;
        justify-items: center;
      }

      @include for-desktop-up {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
        height: 250px;
        width: fit-content;
        justify-items: center;
      }
    }

    &__old--wrapper {
      display: grid;
      @include for-phone-only {
        grid-template-rows: 210px 210px 210px;
        grid-row-gap: 25px;
        height: min-content;
        width: fit-content;
        justify-items: center;
      }

      @include for-tablet-portrait-up {
        grid-template-rows: 210px 210px 210px;
        grid-row-gap: 25px;
        height: min-content;
        width: fit-content;
        justify-items: center;
      }

      @include for-tablet-landscape-up {
        grid-template-rows: 210px 210px 210px;
        grid-row-gap: 25px;
        height: min-content;
        width: fit-content;
        justify-items: center;
      }

      @include for-desktop-up {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 40px;
        height: 250px;
        width: fit-content;
        justify-items: center;
      }
    }

    &__project--wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 400px;
      max-height: 250px;
      color: $white;
    }

    &__project__background-image {
      width: 100%;
      height: 100%;
      position: absolute;
      filter: brightness(0.8);
    }

    &__project-drape {
      position: relative;
      background-color: $primary-600;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.6;

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 0.9;
        transition: opacity 1.5s ease-out;
      }
    }

    &__project--wrapper,
    &__project__background-image,
    &__project-drape {
      border-radius: $primary-radius;
    }

    &__project__link {
      z-index: 1;
      width: 60%;
      text-align: center;
      color: $white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__border--horizontal {
      display: block;
      width: 100%;
      margin: 60px auto;
    }
  }
}
