.index-main {
  @include for-desktop-up {
    display: grid;
    grid-template-rows: 450px 0px 1000px;
  }

  &__about {
    display: flex;
    align-items: center;
    background-color: $primary-100;

    .page-content-wrapper {
      @include for-desktop-up {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 45%;
        justify-content: center;
      }
    }

    &__profile-picture--wrapper {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      animation: animated-border 1.5s infinite;

      @include for-desktop-up {
        justify-self: right;
        margin-right: 32px;
      }
    }

    &__profile-picture {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }

    &__title,
    &__description {
      margin-bottom: 0;
      color: $white;
      text-shadow: $shadow-1dp;
    }

    &__description {
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
    }
  }

  &__projects {
    margin-top: 60px;

    .page-content-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    &__title {
      color: $primary-800;
      margin: 0 auto 45px auto;
    }

    &__current--wrapper {
      display: grid;

      @include for-desktop-up {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
        height: 250px;
        width: fit-content;
        justify-items: center;
      }
    }

    &__old--wrapper {
      display: grid;

      @include for-desktop-up {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 40px;
        height: 250px;
        width: fit-content;
        justify-items: center;
      }
    }

    &__project--wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 400px;
      max-height: 250px;
      color: $white;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__project__background-image {
      width: 100%;
      height: 100%;
      position: absolute;
      filter: brightness(0.8);
    }

    &__project-drape {
      position: absolute;
      background-color: $primary-600;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.6;

      &:hover {
        opacity: 0.9;
        transition: opacity 1.5s ease-out;
        cursor: pointer;
      }
    }

    &__project--wrapper,
    &__project__background-image,
    &__project-drape {
      border-radius: $primary-radius;
    }

    &__project__link {
      z-index: 1;
      width: 60%;
      text-align: center;
      color: $white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__border--horizontal {
      @include for-desktop-up {
        display: block;
        width: 100%;
        margin: 60px auto;
      }
    }
    &__border--vertical {
      @include for-desktop-up {
        display: none;
      }
    }
  }
}
